body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

#global-timer{
    font-size: 24px;
    margin-bottom: 0px;
}

#voice-status {
    color: red;
    font-size: 24px;
    margin-bottom: 20px;
}

#timer {
    font-size: 20px;
    margin-bottom: 20px;
}

button {
    padding: 10px 20px;
    margin-bottom: 10px;
    font-size: 20px;
    cursor: pointer;
}

#transcript-container{
    background-color: blueviolet;
}

#transcript-list {
    list-style: none;
    padding: 0;   
    font-size: 18px;
    max-height: 600px;  
    width: 600px;  
    overflow-y: auto;
    border: 1px solid gray;  
    padding: 10px;  /* Add internal padding */
    box-sizing: border-box;  /* Border and padding are included in width and height */
}

#transcript-list li {
    background-color: #000000;  
    border: 1px solid gray; 
    border-radius: 2px; 
    padding: 10px; 
    margin-bottom: 10px;  
    position: relative; 
    padding-right: 50px; /* additional padding to reserve space for the button */
}

#transcript-list li:hover {
    background-color: #2C2C2E;

}

.copy-button {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    display: none;
}

#transcript-list li:hover .copy-button {
    background-color: #66D4CF;
;
    display: block;
}

#transcript-list-container {
    height: 600px;
    overflow: auto;
    background-color: blue;
}

#transcript-list-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1;
    padding: 10px;
    border-bottom: 1px solid gray;
}

#transcript-list-header h1 {
    margin: 0;
}

#transcript-list-header button {
    cursor: pointer;
}

#audio-control-bar {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background: #eee;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid #ccc;
}

audio {
    width: 100%;
    max-width: 600px;
    background-color: #95B9C7;
}

audio::-webkit-media-controls-play-button{
background-color:green;}

.timestamp {
    color: #66D4CF;
    transition: color 250ms ease-in;
}

.timestamp:hover {
    color: #ff00ff;  /* change to your preferred hover color */
}

.transcript {
    color: #ffffff;
    transition: color 250ms ease-in;
    overflow-wrap: break-word;  /* breaks the line at the limit of the container width */
    word-break: break-word;  /* breaks unbreakable words */
}

.transcript:hover {
    color: #cccccc;  /* change to your preferred hover color */
}
